<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elderly Care</title>
    <link rel="stylesheet" href="styles.css">
    <nav>
        <div class="logo"><img alt = "logo" src = "../static/images/exercise-icon.png"><span id = "elder">Elder</span>Cise</div>
        <div class="trophies-coins-container">
            <div class="trophies">
                <span id="icon">🏆</span>19000
            </div>
            <div class="coins">
                <span id="icon">🪙</span>1000
            </div>
        </div>
    </nav>
</head>
<body>
    <div class="exercise-type">
        <!--leads to a list of BEGINNER videos with each their respective coin values-->
        <a href = "" class="exercise" id = "beginner">
            <img src = "../static/images/beginner-card-image.png" alt = "advanced elderly exercise">
            <p>Beginner</p>
        </a>    

        <!--leads to a list of INTERMEDIATE exercises with their respective coin values-->
        <a href = "" class="exercise" id = "intermediate">
            <img src = "../static/images/intermediate-card-image.jpeg" alt = "advanced elderly exercise">
            <p>intermediate</p>
        </a>

        <!--leads to a list of ADVANCED exercises with their respective coin values-->
        <a href = "" class="exercise" id="advanced">
            <img src = "../static/images/advanced-card-image.webp" alt = "advanced elderly exercise">
            <p>advanced</p>
        </a>
    </div>

    <footer>
        <!--leads to a STORE to exchange coins for different vouchers -->
        <a href = "https://www.google.com"><div title = "Gift Store"><img src="../static/images/gift.png" alt="gift"></div></a>
        <!-- FIXME: replace the href above with the gift url -->

        <!--leads to a LEADERBOARD to view position based on coins -->
        <a href = "https://www.google.com"><div title = "Leaderboard"><img src="../static/images/podium.png" alt="leaderboard"></div></a>
        <!-- FIXME: replace the href above with the leaderboard url -->
    </footer>
</body>
</html>