<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elderly Care</title>
    <link rel="stylesheet" href="styles.css">
    <nav>
        <div class="logo"><img alt = "logo" src = "../static/images/exercise-icon.png"><span id = "elder">Elder</span>Cise</div>
        <div class="trophies-coins-container">
            <div class="trophies">
                <span id="icon">🏆</span>19000
            </div>
            <div class="coins">
                <span id="icon">🪙</span>1000
            </div>
        </div>
    </nav>
</head>
<body>
    <!-- Gift Store HTML HERE -->
    <div class="gift-store-header">Welcome to the Store</div>
    <div class="gift-store">
        <div class="gift-card-container">
            <div class="gift-card">        
                <img src = "static/images/fairprice-logo.png" alt = "Fairprice logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">Fairprice</p>
                    <p class="gift-desc" id = "supermarket">Get cookies for your grandkids, chicken for tonight's dinner, or even just a quick refreshment. <br> Everything here at NTUC 😊</p> 
                    <div class = "cost"><span id = "amt">$15 </span> FOR <span style = "color: rgb(223, 83, 83);">1000</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">        
                <img src = "static/images/sheng-siong-logo.jpg" alt = "Sheng Siong logo" style = "background-color: white;">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">Sheng Siong</p>
                    <p class="gift-desc" id = "supermarket">Where High Quality Meets Low Prices. And they just got even <strong>lower</strong>!! Don't let yourself miss out and shop with us today!</p>
                    <div class = "cost"><span id = "amt">$10.50 </span> FOR <span style = "color: rgb(223, 83, 83);">400</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">        
                <img src = "static/images/foodline-logo.png" alt = "Foodline logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">Foodline</p>
                    <p class="gift-desc" id = "supermarket">Get access to hundreds of restaurants across Singapore from local hawker centres to <br>⭐ <strong>Fine Dining ⭐</strong></p>
                    <div class = "cost"><span id = "amt">Free Reservation </span> FOR <span style = "color: rgb(223, 83, 83);">1200</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">        
                <img src = "static/images/grab-logo.png" alt = "Grab logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">Grab</p>
                    <p class="gift-desc" id = "supermarket">Feeling a little snacky? Don't let your exhaustion or your wallet stop you. <br> <strong>Order with GRAB Today</strong></p>
                    <div class = "cost"><span id = "amt">Free Delivery</span> FOR <span style = "color: rgb(223, 83, 83);">800</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">        
                <img src = "static/images/tunglok-logo.png" alt = "Tunglok logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">TungLok</p>
                    <p class="gift-desc" id = "supermarket">We offer an exquisite dining experience with authentic Chinese cuisine, perfect for all occasions</p>
                    <div class = "cost"><span id = "amt">20% OFF</span> FOR <span style = "color: rgb(223, 83, 83);">1600</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">        
                <img src = "static/images/mcdonalds-logo.jpg" alt = "McDonald's logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">McDonald's</p>
                    <p class="gift-desc" id = "supermarket">No matter the condition, we'll always be there for you. Come join us any day of any week. <br><strong>Start Loving it!</strong></p>
                    <div class = "cost"><span id = "amt">Free McSpicy</span> FOR <span style = "color: rgb(223, 83, 83);">900</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">        
                <img src = "static/images/eu-yan-sang-logo.png" alt = "Eu Yan Sang logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">Eu Yan Sang</p>
                    <p class="gift-desc" id = "supermarket">We've been with you for Generations. Our health will always be #1. <br> <strong>Live longer with Us.</strong></p>
                    <div class = "cost"><span id = "amt">40% Off </span> FOR <span style = "color: rgb(223, 83, 83);">1500</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">
                <img src = "static/images/guardian-logo.jpeg" alt = "Grab logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">Guardian</p>
                    <p class="gift-desc" id = "supermarket">The world is as endless as our inventory! Lipstick, mascara, soap, shampoo, bandages, panadol? <strong>WE GOT IT!</strong></p>
                    <div class = "cost"><span id = "amt">Buy 1 Get 1 Free</span> FOR <span style = "color: rgb(223, 83, 83);">950</span>🪙</div>
                </div>
            </div>

            <div class="gift-card">        
                <img src = "static/images/ezlink-logo.jpeg" alt = "EZ Link logo">
                <div class="gift-text-container">
                    <p class="gift-title" id = "supermarket">EZ-Link</p>
                    <p class="gift-desc" id = "supermarket">Get to anywhere in our Incredible country with just the TAP of a card. <br> <strong>Explore the Unexplored!</strong></p>
                    <div class = "cost"><span id = "amt">$35 Top-Up</span> FOR <span style = "color: rgb(223, 83, 83);">1700</span>🪙</div>
                </div>
            </div>

        </div>
        
        
    </div>
    <br><br><br><br><br><br><br>
    <footer>
        <!--leads to a STORE to exchange coins for different vouchers -->
        <a href = "https://www.google.com"><div title = "Gift Store"><img src="../static/images/gift.png" alt="gift"></div></a>
        <!-- FIXME: replace the href above with the gift url -->

        <!--leads to a LEADERBOARD to view position based on coins -->
        <a href = "https://www.google.com"><div title = "Leaderboard"><img src="../static/images/podium.png" alt="leaderboard"></div></a>
        <!-- FIXME: replace the href above with the leaderboard url -->
    </footer>
</body>
</html>

<!-- Sources for where I got gift Ideas for Elderly -->

<!--

Supermarkets:
    Fairprice: https://www.gift.fairprice.com.sg/ DONE
    Sheng Siong: https://www.wogi.sg/buy-gift-cards/sheng-siong-sg DONE

Dining:
    Foodline SG: https://www.foodline.sg/voucher DONE
    Grab: https://gifts.grab.com/sg/ DONE
    TungLok: https://vouchers.tunglok.com/the-vouchers DONE
    McDonalds: https://www.mcdonalds.com.sg/gift-certificates DONE

Healthcare and Wellness:
    Eu Yan Sang: https://www.wogi.sg/buy-gift-cards/eu-yan-sang-sg DONE
    Guardian (Not Purchasable): https://www.guardian.com.sg/vouchers DONE

Transport:
    Ez-link: https://ezlink.simplygo.com.sg/card-charm/new/evoucher/

Total: 9
-->