<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elderly Care</title>
    <link rel="stylesheet" href="../static/styles.css">
    <nav>
        <div class="logo"><img alt = "logo" src = "../static/images/exercise-icon.png"><span id = "elder">Elder</span>Cise</div>
        <div class="trophies-coins-container">
            <div class="trophies">
                <span id="icon">🏆</span>19000
            </div>
            <div class="coins">
                <span id="icon">🪙</span>1000
            </div>
        </div>
    </nav>
</head>
<body>
    
    <!-- Workouts for the Different Difficulties here  -->
     <div class="workout">
        <header><span id = "beginner">Beginner</span> Workouts</header>
        <div class="video-container">
            <div class="video">
                <img src="https://placehold.co/1600x900" alt="beginner-video">
                <p>Beginner Workout 1</p>
            </div>
            <div class = "benefits">
                <p id = "coins">🪙100</p>
                <p id = "trophies">🏆25</p>
            </div>
        </div>

        <div class="video-container">
            <div class="video">
                <img src="https://placehold.co/1600x900" alt="beginner-video">
                <p>Beginner Workout 1</p>
            </div>
            <div class = "benefits">
                <p id = "coins">🪙100</p>
                <p id = "trophies">🏆25</p>
            </div>
        </div>

        <div class="video-container">
            <div class="video">
                <img src="https://placehold.co/1600x900" alt="beginner-video">
                <p>Beginner Workout 1</p>
            </div>
            <div class = "benefits">
                <p id = "coins">🪙100</p>
                <p id = "trophies">🏆25</p>
            </div>
        </div>

        <div class="video-container">
            <div class="video">
                <img src="https://placehold.co/1600x900" alt="beginner-video">
                <p>Beginner Workout 1</p>
            </div>
            <div class = "benefits">
                <p id = "coins">🪙100</p>
                <p id = "trophies">🏆25</p>
            </div>
        </div>
        <div class="video-container">
            <div class="video">
                <img src="https://placehold.co/1600x900" alt="beginner-video">
                <p>Beginner Workout 1</p>
            </div>
            <div class = "benefits">
                <p id = "coins">🪙100</p>
                <p id = "trophies">🏆25</p>
            </div>
        </div>

        <div class="video-container">
            <div class="video">
                <img src="https://placehold.co/1600x900" alt="beginner-video">
                <p>Beginner Workout 1</p>
            </div>
            <div class = "benefits">
                <p id = "coins">🪙100</p>
                <p id = "trophies">🏆25</p>
            </div>
        </div>

        <div class="video-container">
            <div class="video">
                <img src="https://placehold.co/1600x900" alt="beginner-video">
                <p>Beginner Workout 1</p>
            </div>
            <div class = "benefits">
                <p id = "coins">🪙100</p>
                <p id = "trophies">🏆25</p>
            </div>
        </div>
     </div>
    <footer>
        <!--leads to a STORE to exchange coins for different vouchers -->
        <a href = "https://www.google.com"><div title = "Gift Store"><img src="../static/images/gift.png" alt="gift"></div></a>
        <!-- FIXME: replace the href above with the gift url -->

        <!--leads to a LEADERBOARD to view position based on coins -->
        <a href = "https://www.google.com"><div title = "Leaderboard"><img src="../static/images/podium.png" alt="leaderboard"></div></a>
        <!-- FIXME: replace the href above with the leaderboard url -->
    </footer>
</body>
</html>